p{
    color:rgb(0, 0, 147);
}

#hold{
    height: auto;
    width: auto;
}
button{
    font-size: large;
    height:30px;
    width:50px;
    margin:20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow:1px 1px 1px 0px black;
}
#on{
    background-color: yellow;
    /* position: fixed;
    left: 300px;
    top: 300px; */
}

#off{
    display:none;
    /* position: fixed;
    left: 300px;
    top: 300px; */
}


#on:active{
    color: black;
    background-color: aqua;

}
#off:active{
    color: black;
    background-color: aqua;

}
img{
    height: 300px;
    width: 300px;
}

#click{
    height: auto;
    width: auto;
    background-color: greenyellow;
}
#click:active{
    color: white;
    background-color: green;
}
#container{
    height:50vh;
    aspect-ratio: 1/1;
    background-color: blue;
    border:3px solid black;

    position: relative;

    
}
#animate{
    height:10%;
    aspect-ratio: 1/1;
    background-color: rgb(233, 233, 240);

    position: absolute;
    top: 0;
    left:0;

}
