body{
    height: 100vh;
    width: 100vw;

    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

#create{
    height: 10%;
    width: 50%;

    /* margin: 0;
    padding:0; */

    background-color: white;


    border: 0px solid black;
    border-radius: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}
#input{
    height: 90%;
    width: 60%;

    margin-left: 35px;
    padding:0;

    font-size: larger;

    background-color: white;

    border: none;
    text-overflow: auto;

}

#add{
    height: 100%;
    width: 20%;

    background-color: rgb(66, 220, 255);

    border: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 0px;

}